<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="runs content">
    <h2>All Runs</h2>

    <% if (runs.length > 0) { %>
      <% runs.forEach(run => { %>
        <a class="single" href="/runs/<%= run._id %>" style="margin-bottom: 20px;">
          <h3 class="name"><%= run.name %></h3>
          <p class="date">Date: <%= run.date.toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'short',
            day: '2-digit'  
          }) %></p>
          <p class="distance">Distance: <%= run.distance %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no runs to display...</p>
    <% } %>
    
  </div>

</body>
</html>
